@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Noto+Sans+KR:wght@300;400&family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Roboto+Condensed:wght@300;700&display=swap');

@import url(reset.css);
@import url(variables.css);

/* Components */
@import url(components/status-bar.css);
@import url(components/nav-bar.css);
@import url(components/screen-header.css);
@import url(components/user-component.css);
@import url(components/badge.css);

/* Screens */
@import url(screens/login.css);
@import url(screens/firends.css);

body {
    font-family: 'Akshar', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2e363e;
}

.main-screen {
    padding: 0px 20px;
}