#friends-display-link {
    display: block;
    text-align: center;
    padding: 15px 0px;
    background-color: rgba(180, 180, 180, 0.1);
    margin-bottom: 15px;
    margin-top: -10px;
}

#friends-display-link i {
    color: rgb(0, 0, 0, 0.2);
}

.friends-screen {
    padding: 0px 25px;
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}