.user-component {
    justify-content: space-between;
    margin-bottom: 25px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__title {
    font-weight: 600;
    font-size: 18px;
}

.user-component__subtitle {
    margin-top: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avata {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 15px;
}

.user-component__avata--xl {
    width: 80px;
    height: 80px;
}

.user-component__avata--sm {
    width: 60px;
    height: 60px;
    border-radius: 22px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:nth-child(2) {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.user-component__subtings {
    display: flex;
    align-items: center;
}

.user-component__subtings i {
    margin-top: 7px;
    margin-left: 7px;
    color: tomato;
}